RUSTDESK_TARGET_ID=1776051770
RUSTDESK_TARGET_PASSWORD=your_password_here
RUSTDESK_EXTRA_ARGS=
RUSTDESK_ID_SERVER=your_hbbs_host_or_ip:21116
RUSTDESK_RELAY_SERVER=your_hbbr_host_or_ip:21117
RUSTDESK_KEY=your_server_public_key_base64_or_file_content
